p {
    background-image: url('fatema.jpg');
  }

 img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fatu {
    width: 100px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px 12px lightblue;
    
    display:horizontally;
    
  }


  #rcorners1 {
    border: 100px;
    background: #73AD21;
    padding: 20px; 
    width: 33.33%;
    height: 150px;
    text:center;
    float:inline;
  }
  


  span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
  

  
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }