p {
    background-image: url('fatema.jpg');
  }

 img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
 font-weight: bolder;
 
  color: #000;
}


p{
  font-family:'Times New Roman', Times, serif;
  color: #000;
  font-weight: lighter;
  position: justify;  
font-weight: 1200px px;



}
  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;

  
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    
  }
  
  .button:hover {background-color:green}
  
  .button:active {
    background-color: red;
  
    transform: translateY(4px);
  }
    /*   .fatu {
    width: 100px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px 12px lightblue;
    
    display:flex;
    
  }    */


  .flex-container {
    width: 100%;
    display: flex;
    background-color: #f1f1f1;
  }
  
 .flex-container > div {
    background-color: rgb(3, 39, 75);
    color: white;
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }


  .flex-container:hover{
   background-color:red;

  }
  /** .rcorners1 { 
    width: 30%;
    height: 100px;
    border: 10px;
    background: #73AD21;
    padding: 20px; 
    
    text:center;
    display:flex;
  }  
  
 **/



  span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
  



  .buttonn {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttonn:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttonn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



  
footer {
  padding-top: 120px;
    text-align: center;
    padding: 3px;
    background-color:black;
 
   
  }
  footer p{ font-weight: 100px;
  font-style: italic;
color:red;}

  .fatu998{ display: flex;
    width: 100%;
    

  }


  .fatema1{ 
    width: 30%;
    height: 180px;
    text-align: center;
    background-color: rgb(231, 219, 219);
    margin: auto;
   padding-bottom: 100px;
   margin-bottom: 100px;
   border-radius: 20px;
  }
  
  /** .fatema1{

    width: 25%;
    height: 100px;

    
    padding: 80px ;
    border: 1px solid  #BFBFBF;
    background-color: rgb(230, 218, 218);

    text-align: center;
margin-bottom: 50px;
    box-shadow: #999;
  
    
  }  


  .flexparagraph {
    display: flex;
    width: 100%;
  }
  .rcorners1{
    width: 25%;
    height: 100px;
    text-align: center;
    background-color: rgb(231, 219, 219);
    margin: auto;
    display: flex;
  }
  **/

 

  .ourdonated998{display: flex;
    width: 100%;

  }
  .ourdonated{   width: 1024px;
    margin: auto;
    padding: 10px 80px 80px 50px;
    border: 5px solid  #BFBFBF;
    background-color: rgb(230, 218, 218);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .donate998{
    width: 1024px;
    display: flex;
  }
  .donate{
    width: 1024px;
  
  margin-left: 400px;
    text-align:center ;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-style: inherit;
  }



    
  
  .flood{
    width: 100%;
    display: flex;

  }

  .flood1{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
    
    text-align: center;
    margin-left: 200px;


  }

  
  .button {
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.other2{
  width: 100%;
    display:flexbox;

}

.other{
  margin-top: 100px;
  margin-bottom: 100px;
  font-size:large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
  
  text-align: center;
  font-weight: 400px;

 

}

.button2 {
  background-color: #ca8a29; /* Green */
  border:none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:10px;
  cursor: pointer;
  border-radius: 20px;
 
}

.button1 {padding: 18px 28px;}


.w3-opacity{
 width: 50%;
 margin-top: auto;
}

.container{
  width: 60%;
  padding: 20px;
  margin: 100px auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box{
  width: 80px;
  height: 60px;
  background: #ddd;
  margin: 0px 10px;
  transition: 1s;
  border: 2px solid red;
  text-align:center;
  border-radius: 5px;
}
.box:hover{
  transform: scale(1.3);

  z-index: 2;
  box-shadow: 2px 2px 2px #000;
  
}
:placeholder{

  border-left: none;
  border-right: none;
border-top: none;
}
